.videos{
    background-image: url('../../../public/assets/bg-texturas/bg-gray.png');   
    height: 80vh;
}
.videos .content{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -4rem;
}
.videos .content .areaDosVideos{
    width: 97%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; 
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
} 
.videos .content .areaDosVideos .areaTitulo{
   margin-top: -1rem;
}

.videos .content .areaDosVideos .areaDoVideo{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
    justify-content: center;
    margin-top: -0.1rem;
}