.areacards{
    width: 135%;
    gap: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
}
.areacards .card{
    width: 30%;
    padding: 0.5rem;    
}
.areacards .card .imagem{
    width:  300px;
    height: 147px;    
}
.areacards .card .imagem:hover{
    cursor:  zoom-in;
    transform: scale(2.5);
    border-radius: 0.2rem;
    z-index: 9999;
}
.areacards .card .areatextos{
    background-color: #FFF;
    padding: 2.6rem 0.5rem;
    width: 300px;
}
.areacards .card .areatextos h2{
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.areacards .card .areatextos p{
    font-size: 1rem;
    color: var(--bg-header);
}
