.areacards{
    width: 135%;
    /* height: 300px; */
    /* background-color: var(--white); */
    /* border: 1px solid #f2f2f2; */
    /* border-radius: 0.9rem; */
    gap: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2c2c2c; */
    background-color: #262626;
}
.areacards .card{
    /* width: 27.5%; */
    
    width: 30%;
    /* height: 250px; */
    /* border: 1px solid #04450f; */
    padding: 0.5rem;
    
}
.areacards .card .imagem{
    width:  300px;
    height: 147px;    
}
.areacards .card .imagem:hover{
    cursor:  zoom-in;
    transform: scale(2.5);
    border-radius: 0.2rem;
    z-index: 9999;
}
.areacards .card .areatextos{
    background-color: #FFF;
    padding: 2rem 0.5rem;
    width: 300px;
}
.areacards .card .areatextos h2{
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.areacards .card .areatextos p{
    font-size: 1rem;
    color: var(--bg-header);
}
