.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    position: absolute; 
    display: flex;
    background-color: transparent;
}
h4, 
h5{
    color: var(--links);
    font-size: small;
    font-weight: 100;
}
.areatextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -2.6rem;

}